.form {
  display: flex;
  flex-direction: column;

  gap: 10px;
  
  width: 34vw;

  &__label {
    font-size: 14px;
    line-height: 1.4;
  }
}

@media screen and (max-width: $tablet-screen) {
  .form {
    width: 260px;
    padding: 0;

    &__button {
      display: none;
    }
  }
}

@media screen and (max-width: $phone-screen) {
  .form {
    padding-bottom: 30px;

    width: 100%;

    &__button {
      display: initial;
      width: 100%;

      &::after {
        display: none;
      }
    }
  }
}
